<!--page title-->
<div class="pagetitle">
  <h1>New Task</h1>

  <div class="clearfix"></div>
</div>
<!--page title end-->

<% if Project.all.empty? %>

    <div class="grid">
      <div class="grid-title">
        <div class="pull-left">
          <div class="icon-title"><i class="icon-bookmark"></i></div>
          <span>Task Details</span>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="grid-content">
        <p>There are no projects, please create at least one project to assign tasks.<br/><br/> <%= link_to('create new project', :new_project, :class => 'btn btn-info') %></p>

        <div class="clearfix"></div>
      </div>
    </div>

<% else %>
    <%= render :partial => 'form', :locals => {:button => :create} %>

<% end %>




